.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}
.btn{
  width: 50%;
  height: 15%;
  position: inherit;
  margin: 3% 30% 0;
  text-align: center;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 70px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
  font-weight: bold;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
@media (max-width:990px) {
  h1 {
  text-align: left;
    font-size: 3rem;
    margin:5% 30% 5%;
    width: 100%;
  }


}
